$disabled-opacity: 30%;
$border-radius: 10px;

$primary-color: #008996;
$button-text-color: white;

$secondary-color: #dee1ec;
$secondary-button-text-color: black;

$danger-color: #dc143c;
$danger-button-text-color: white;
